* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-color {
  mix-blend-mode: difference;
  color: white;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 2px 1px #e4e4e4, 0 1px 1px #e4e4e4, 0 3px 1px #e4e4e4,
    0 -1px 3px #e4e4e4;
}

.range-group {
  display: grid;
}
